@import 'vars';
@import 'fonts';
@import 'animation';
@import 'libs';
@import 'global';



.header {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.auth {
    margin-left: auto;
}

.search-form {
    margin-left: 76px;
    max-width: 620px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    position: relative;
}

.search {
    padding: 13px 20px;
    width: 100%;
    height: 50px;
    border: none;
    background-color: transparent;
}



.search-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: none;
    padding: 0 18px;
    cursor: pointer;
    background-color: transparent;
}

.login {
    display: block;
    background-color: #EBEBEB;
    border-radius: 50px;
    padding: 16px 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000;
}

.shoppng-cart {
    margin-left: 30px;
    background-color: #F66A15;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    position: relative;
    @extend %flex;
}


.shoppng-counter {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18px;
    height: 18px;
    font-size: 8px;
    line-height: 9px;
    background-color: #FFAF19;
    border-radius: 50px;
    @extend %flex;
}

.slide {
    border-radius: 20px;
    min-height: 400px;
    display: flex;
    align-items: center;
    padding-left: 100px;
    position: relative;
    overflow: hidden;
}

.slide-text-light {
    background-color: grey;
    color: #fff;
}

.slide-content {
    position: relative; 
    max-width: 400px;
}

.slide-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
}

.slide-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;
}


.button-primary {
    background-color: #F47322;
    color: #fff;
}

.button-default {
   background-color: #fff; 
   color: #5F5F61;
}

.button {
    border-radius: 25px;
    padding: 12px 50px;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}

.slide-summer {
    background-image: url('../images/summer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.slide::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}

.promo {
    display: flex;
    column-gap: 54px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    display: inline-block;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 32px;
    max-width: 570px;
    width: 100%;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card::before {
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.card-text-light {
    color: #fff;
}

.card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-top: 4px;
    margin-bottom: 21px;
}

.card-description {
    max-width: 160px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}


.card-price {
    display: block;
    font-weight: 500;
    font-size: 30px;
    line-height: 23px;
    margin-bottom: 8px;
}

.card-delivery {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
}

.card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}











@import 'media';
